@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    white-space: pre-line;
    /* overflow: hidden; */
    /* white-space: pre-wrap; */

}

.fill-window {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto;
}

.errorPage {
    margin-top: 10rem;
}

.errorPage>* {
    margin: .8rem auto;
}

::-webkit-scrollbar {
    display: none;
}

.buttonImage {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    border: none;

    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
}

.Image {
    width: 150px !important;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}